{% block sidebar %}

	{% set subnav_has_items_to_display = false %}
	{% if subnav %}
		{% for nav in subnav %}
			{% if nav and nav.submenu and nav.active_trail %}
				{% set subnav_has_items_to_display = true %}
			{% endif %}
		{% endfor %}
	{% endif %}


	{% if subnav_has_items_to_display or metadata %}
	<aside class="sidebar">
		{% block logo_box %}
			{% if logo %}
				<div class="sidebar-logo">
					{# Minimum image size: 530px X 530px #}
					{% set image = logo %}
					{% if image or image_data %}
						{% include '@hc/partials/image.twig' with { 'imgheight': '530', 'imgwidth': '530' } %}
					{% endif %}
				</div>
			{% endif %}
		{% endblock logo_box %}

		{% block subnav_block %}
			{% if subnav is defined %}
				<div class="sidebar-block">

					{% if subnav_title %}
						<h2 class="sidebar-title">{{ subnav_title }}</h2>
						<button for="sidebar-open" id="sidebar-show-button" class="sidebar-show-button accordion-trigger" aria-controls="sidebar" aria-expanded="false"><span class="visually-hidden">Show sidebar</span></button>
					{% endif %}

					<div class="sidebar-inner" aria-expanded="false" id="sidebar">
						{% block sidebar_nav %}
							<nav class="sidebar-nav">
								<ul class="sidebar-nav-list" role="tablist">
									{% for nav in subnav %}
										{% if nav.active_trail == 'true' %}
											{% for nav2 in nav.submenu %}
											<li class="sidebar-nav-item{% if nav2.active == 'true' or nav2.active_trail == true %} current-section{% endif %}" role="tab">
												<a href="{{ nav2.url }}" class="sidebar-nav-item-link subnav_element{% if nav2.active == 'true' %} current{% endif %}">{{ nav2.text }}</a>
												{% if nav2.submenu %}
													<button class="rnav-arrow" aria-expanded="false">
														<svg aria-hidden="true" class="icon"><use xlink:href="{{ assets_dir }}/svg/icons.svg#arrow-down"/>Expand dropdown</svg>
													</button>
												{% endif %}
												{% if nav2.submenu %}
												<ul class="sidebar-nav-list sub-list" aria-expanded="false" aria-label="{{ nav2.text }} submenu" role="tablist">
													{% for nav3 in nav2.submenu %}
													<li class="sidebar-nav-item{% if nav3.active == 'true' or nav3.active_trail == true %} current-section{% endif %}" role="tab">
														<a href="{{ nav3.url }}" class="sidebar-nav-item-link{% if nav3.active == 'true' %} current{% endif %}">{{ nav3.text }}</a>
														{% if nav3.submenu %}
															<button class="rnav-arrow" aria-expanded="false">
																<svg aria-hidden="true" class="icon"><use xlink:href="{{ assets_dir }}/svg/icons.svg#arrow-down"/>Expand dropdown</svg>
															</button>
														{% endif %}
														{% if nav3.submenu %}
															<ul class="sidebar-nav-list sub-list" aria-label="{{ nav3.text }} submenu" role="tablist">
																{% for nav4 in nav3.submenu %}
																<li class="sidebar-nav-item{% if nav4.active == 'true' or nav4.active_trail == true %} current-section{% endif %}" role="tab">
																	<a href="{{ nav4.url }}" class="sidebar-nav-item-link{% if nav4.active == 'true' %} current{% endif %}">{{ nav4.text }}</a>
																</li>
																{% endfor %}
															</ul>
														{% endif %}
													</li>
													{% endfor %}
												</ul>
												{% endif %}
											</li>
											{% endfor %}
										{% endif %}
									{% endfor %}
								</ul>
							</nav>
						{% endblock sidebar_nav %}
					</div>

				</div>
			{% endif %}
		{% endblock subnav_block %}

		{% block sidebar_meta_block %}
			{% if metadata %}
				{% include '@hc/partials/meta-item.twig' %}
			{% endif %}
		{% endblock sidebar_meta_block %}
	</aside>
	{% endif %}
{% endblock sidebar %}
