{% embed '@hc/news/listing.twig' %}

	{% block hero_component %}
		{% include '@hc/components/hero.twig' with {
			'section_class': 'hero-outer full',
			'image_data': get_image_data( post.meta('hero_section').hero_image, 'hero_image' ),
			'hero_title': post.title|e('esc_html'),
			'hero_summary': post.meta('hero_section').hero_summary|e('wp_kses_post'),
			'link_copy': post.meta( 'hero_section' ).hero_button.title|e('esc_html'),
			'link_path': post.meta( 'hero_section' ).hero_button.url|e('esc_url'),
			'link_target': post.meta( 'hero_section' ).hero_button.target|e('esc_html'),
			'hero_metas': hero_metas,
		} %}
	{% endblock %}

	{% block breadcrumb %}
			{% include '@wp/partials/breadcrumbs.twig' with {
					'subnav': subnav
				}
			%}
	{% endblock breadcrumb %}

	{% block main_share %}
		{% include '@hc/partials/main-share.twig' with {
		'share': true,
		'shares': postshares
		}%}
	{% endblock main_share %}

	{% block featured %}
		{% if featured_cards %}
			{% include '@hc/components/cards.twig' with {
				'section_class': 'cards-outer featured-listing',
				'cards': featured_cards
			}%}
		{% endif %}
	{% endblock featured %}

	{% block filter_block %}
		<div class="filter-outer">
			<button for="filter-open" id="filter-show" class="filter-show-button accordion-trigger" aria-controls="filters" aria-expanded="false" aria-label="Expand filters">Show filters</button>
			<div class="filter-inner" aria-expanded="false" id="filters">
				<form method="get" class="filter" action="{{post.link}}">

					{% set update_types = search.update_types %}
					{% if update_types %}
						<div class="filter-block">
							<label for="filter-type">{{ __( 'Type', constant( 'WPML_DOMAIN' ) ) }}</label>
							<select name="update-type" id="filter-type" class="filter-field">
								<option value="" selected>{{ __( 'Select type', constant( 'WPML_DOMAIN' ) ) }}</option>
								{% for type in update_types %}
									{% set is_selected = (type.term_id == selected.update_type) %}
									<option {% if is_selected %} selected="selected" {% endif %} value="{{ type.term_id }}">{{ type.name}}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}

					{% set update_topics = search.update_topics %}
					{% if update_topics %}
						<div class="filter-block">
							<label for="filter-topic">{{ __( 'Topic', constant( 'WPML_DOMAIN' ) ) }}</label>
							<select name="update-topic" id="filter-update-topic" class="filter-field">
								<option value="" selected>{{ __( 'Select topic', constant( 'WPML_DOMAIN' ) ) }}</option>
								{% for topic in update_topics %}
									{% set is_selected = (topic.term_id == selected.update_topic) %}
									<option {% if is_selected %} selected="selected" {% endif %} value="{{ topic.term_id }}">{{ topic.name}}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}

					{% set update_themes = search.update_themes %}
					{% if update_themes %}
						<div class="filter-block">
							<label for="filter-theme">{{ __( 'Theme', constant( 'WPML_DOMAIN' ) ) }}</label>
							<select name="update-theme" id="filter-update-theme" class="filter-field">
								<option value="" selected>{{ __( 'Select theme', constant( 'WPML_DOMAIN' ) ) }}</option>
								{% for theme in update_themes %}
									{% set is_selected = (theme.term_id == selected.update_theme) %}
									<option {% if is_selected %} selected="selected" {% endif %} value="{{ theme.term_id }}">{{ theme.name}}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}

					<div class="filter-block actions">
						<input type="hidden" name="search" value="1">
						<input type="submit" value="{{ __( 'Search', constant( 'WPML_DOMAIN' ) ) }}" id="filter-submit" class="filter-submit">
						<input type="reset" value="{{ __( 'Clear', constant( 'WPML_DOMAIN' ) ) }}" id="filter-reset" class="filter-reset" onclick="event.preventDefault(); window.location='{{ post.link }}'">
					</div>
				</form>
			</div>
		</div>
	{% endblock filter_block %}

	{% block listing %}
		{% if updates_feed %}
			{% include '@hc/components/cards.twig' with {
				'section_class': 'cards-outer',
				'cards': updates_feed
				}
			%}
		{% else %}
			<div class="no-results">
				{{ options.updates_listing.no_results_message|e('wp_kses_post') }}
			</div>
		{% endif %}
	</div>

	{% endblock listing %}

	{% block main_footer %}
		<footer class="main-footer section pagination-outer">
			<div class="container">
				{% if  pagination %}
					{% include '@wp/partials/pagination-wp.twig' %}
				{% endif %}
			</div>
		</footer>
	{% endblock main_footer %}

{% endembed %}
